<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <title>Owl Game Engine</title>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="index,follow">
    <meta name="author" content="Argawaen">
    <meta name="description" content="Owl Game Engine">
    <meta name="keywords" content="Owl;Game engine">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/content.css' %}"/>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
<header class="header">
    <div class="navbar container">
        <A href="/" class="site-title">
            <img src="{% static 'img/logo_owl.png' %}" alt="Logo">
            <H1>Owl Game Engine</H1>
        </A>
        <div class="site-user">
            {% if user.is_authenticated %}
            <a class="button" href="{% url 'profile' %}">
                <span class="material-symbols-outlined">person</span>
                {{ user.username }}
            </a>:
            <a class="button" href="{% url 'logout' %}">
                <span class="material-symbols-outlined">logout</span>
                Logout
            </a>
            {% else %}
            <a class="button" href="{% url 'login' %}">
                <span class="material-symbols-outlined">login</span>
                login
            </a>
            {% endif %}
        </div>
        <nav class="site-nav">
            <ul class="navmenu">
                <li class="navitem {% if page == 'news' %}current{% endif %}"><A
                        href="{% url 'news' %}">News</A></li>
                <li class="navitem {% if page == 'documentation' %}current{% endif %}"><A
                        href="{% url 'documentation' %}">Documentation</A>
                </li>
                <li class="navitem {% if page == 'download' %}current{% endif %}"><A href="{% url 'download' %}">Download</A>
                </li>
                {% if perms.auth.view_user %}
                <li class="navitem {% if page == 'users' %}current{% endif %}"><A href="{% url 'users' %}">Users</A>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="page-title">
        <H1>{{ title }}</H1>
    </div>
</header>
<div class="content">
    {% block content %}
    I am the center.
    {% endblock %}
</div>
<footer class="footer">
    <p>
        <a href="https://github.com/Silmaen/Owl">
            <img src="{% static 'img/logo_owl.png' %}" alt="Logo">
            Owl Game Engine
        </a>
        {% if version %}
        · Server Version: {{ version.number }} ({{ version.hash }})
        {% endif %}
    </p>
    <p>
        © Designed by Argawaen, all rights reserved. The site design, the logo are trademarks and/or registered
        trademarks of Argawaen.
    </p>
    <A href="https://fonts.google.com/icons">
        <span class="material-symbols-outlined">grading</span>
        Icons from Material Design Icon.
    </A>

</footer>
{% block script_content %}
{% endblock %}
</body>
</html>