<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <title>Owl Game Engine</title>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="index,follow">
    <meta name="author" content="Argawaen">
    <meta name="description" content="Owl Game Engine">
    <meta name="keywords" content="Owl;Game engine">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/content.css' %}"/>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
<header class="header">
    <div class="navbar container">
        <A href="/" class="site-title">
            <img src="{% static 'img/logo_owl.png' %}" alt="Logo">
            <H1>Owl Game Engine</H1>
        </A>
        <div class="site-user">
            {% if user.is_authenticated %}
            <a class="button" href="{% url 'profile' %}">
                <span class="material-symbols-outlined mdi-icon">person</span>
                <p>{{ user.username }}</p>
            </a>:
            <a class="button" href="{% url 'logout' %}">
                <span class="material-symbols-outlined mdi-icon">logout</span>
                <p>Logout</p>
            </a>
            {% else %}
            <a class="button" href="{% url 'login' %}">
                <span class="material-symbols-outlined mdi-icon">login</span>
                <p>login</p>
            </a>
            {% endif %}
        </div>
        <nav class="site-nav">
            {% if has_menu %}
            <ul class="navmenu">
                <li class="navitem {% if page == 'news' %}current{% endif %}">
                    <a href="{% url 'news' %}">
                        <span class="material-symbols-outlined mdi-icon">newspaper</span>
                        <p>News</p>
                    </a>
                </li>
                <li class="navitem {% if page == 'revisions' %}current{% endif %}">
                    <a href="{% url 'branches' %}">
                        <span class="material-symbols-outlined mdi-icon">package_2</span>
                        <p>Revisions</p>
                    </a>
                </li>
                {% if is_admin %}
                <li class="navitem {% if page == 'admin' %}current{% endif %}">
                    <a href="{% url 'admin' %}">
                        <span class="material-symbols-outlined mdi-icon">admin_panel_settings</span>
                        <p>Admin</p>
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
    </div>
    <div class="page-title">
        <H1>{{ title }}</H1>
        {% if has_submenu %}
        <ul class="navmenu">
            {% for subpage_info in subpages %}
            <li class="navitem {% if subpage == subpage_info.name %}current{% endif %}"><A
                    href="{% url subpage_info.url %}">{{ subpage_info.display_name }}</A></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</header>
<div class="content">
    {% block content %}
    I am the center.
    {% endblock %}
</div>
<footer class="footer">
    <p>
        <a href="https://github.com/Silmaen/Owl">
            <img src="{% static 'img/logo_owl.png' %}" alt="Logo">
            Owl Game Engine
        </a>
        {% if version %}
        · Server Version: {{ version.number }} ({{ version.hash }})
        {% endif %}
    </p>
    <p>
        © Designed by Argawaen, all rights reserved. The site design, the logo are trademarks and/or registered
        trademarks of Argawaen.
    </p>
    <A href="https://fonts.google.com/icons">
        <span class="material-symbols-outlined mdi-icon">grading</span>
        Icons from Material Design Icon.
    </A>
    {% if user.is_staff and staff_active %}
    <a class="button" href="/staff">
        <span class="material-symbols-outlined mdi-icon">shield_person</span>
        staff
    </a>
    {% endif %}

</footer>
{% block script_content %}
{% endblock %}
</body>
</html>