{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/folding_box.css' %}"/>
{% endblock %}

{% block content %}

{% if latest or dev_branch_list or old_stable_branch_list %}
<!-- First the latest stable -->
{% if latest  %}
<div class="PackageList">
    <h2>Latest Stable Branch</h2>
    <div class="Package">
        <div class="PackageHeader clickable"
             onclick="location.href='{% url 'revisions' latest.name %}'">
            <div class="PackageName">Branch : </div>
            <div class="PackageName">{{ latest.name }}</div>
            <div class="PackageName">{{ latest.date }}</div>
        </div>
    </div>
</div>
{% endif %}

<!-- Then the development branches (not stable) -->
{% if dev_branch_list  %}
<div class="PackageList">
    <h2>Dev Branches</h2>
    {% for branch in dev_branch_list %}
    <div class="Package">
        <div class="PackageHeader clickable"
             onclick="location.href='{% url 'revisions' branch.name %}'">
            <div class="PackageName">Branch : </div>
            <div class="PackageName">{{ branch.name }}</div>
            <div class="PackageName">{{ branch.date }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<!-- finally old stable -->
{% if old_stable_branch_list %}
<div class="PackageList">
    <h2>Old Stable Branches</h2>
    {% for branch in old_stable_branch_list %}
    <div class="Package">
        <div class="PackageHeader clickable"
             onclick="location.href='{% url 'revisions' branch.name %}'">
            <div class="PackageName">Branch : </div>
            <div class="PackageName">{{ branch.name }}</div>
            <div class="PackageName">{{ branch.date }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% else %}
<div class="Article">
    <div class="ArticleHeader">
        <h3>We are new!</h3>
    </div>
    <div class="ArticleContent">
        <p>No branch is yet available on this server.</p>
    </div>
</div>
{% endif %}

{% endblock %}

{% block script_content %}
<script src="{% static 'js/folding_box.js' %}"></script>
{% endblock %}
