{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/folding_box.css' %}"/>
{% endblock %}

{% block content %}

{% if current_revision %}
<div class="PackageList">
    <div class="Package">
        <div class="PackageHeader clickable"
             onclick="location.href='{% url 'revision_detail' current_revision.hash %}'">
            <div class="PackageName">Current Revision:</div>
            <div class="PackageName">{{ current_revision.hash }}</div>
            <div class="PackageName">{{ current_revision.date }}</div>
        </div>
    </div>
</div>

{% if older_revisions %}

<div class="PackageList">
    <div class="Package folding_box" id="Older_Revision">
        <div class="PackageHeader folding_box_header" onclick="toggleContent('Older_Revision')">
            <div class="PackageName">Older revision</div>
        </div>
        <div class="PackageFlavors folding_box_content">
            {% for revision in older_revisions %}
            <div class="PackageFlavor clickable" onclick="location.href='{% url 'revision_detail' revision.hash %}'">
                {{ revision.hash }} - {{ revision.date }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% else %}
<div class="Article">
    <div class="ArticleHeader">
        <h3>We are new!</h3>
    </div>
    <div class="ArticleContent">
        <p>No revision are yet available on this server.</p>
    </div>
</div>
{% endif %}

{% endblock %}

{% block script_content %}
<script src="{% static 'js/folding_box.js' %}"></script>
{% endblock %}
