{% extends 'base.html' %}

{% block content %}
<div class="pkg-list mb-6">
    {% for branch in branches %}
    <div class="pkg-item accordion" id="Branch_{{ branch.name }}">
        <button class="accordion__trigger" aria-expanded="false">
            <span class="material-symbols-outlined icon">account_tree</span>
            Branch: {{ branch.name }}
            <span class="material-symbols-outlined accordion__chevron">expand_more</span>
        </button>
        <div class="accordion__panel">
            <form method="post" class="w-full">
                {% csrf_token %}
                {{ branch.form.as_p }}
                {% if perms.delivery.delete_revisionitementry %}
                <div class="form-actions">
                    <button type="submit" class="btn btn--primary">
                        <span class="material-symbols-outlined icon">send</span>
                        Submit
                    </button>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% if debug %}
<div class="pkg-list">
    <pre>{{ debug }}</pre>
</div>
{% endif %}
{% endblock %}
