{% extends 'base.html' %}

{% block content %}
<div class="Article">
    <div class="ArticleHeader">
        <h2>Modify the news</h2>
    </div>
    <div class="ArticleContent">
        {% if new_news %}
        <p>The news has been modified.</p>
        {% else %}
        <form method="post">
            {% csrf_token %}
            {{ news_form }}
            {% if perms.delivery.delete_newsentry %}
            <button type="submit" class="button">
                <span class="material-symbols-outlined">send</span>
                Submit
            </button>
            {% endif %}
        </form>
        {{ news_form.media }}
        {% endif %}
    </div>
    <div class="ArticleFooter">
        <p>Warning: It is not yet possible to upload images.</p>
    </div>
</div>
<div class="Article">
    <div class="ArticleHeader">
        <h2>Associated Comments</h2>
    </div>
    <div class="ArticleContent">
        <table class="user-tab">
            <thead>
            <tr>
                <th>comment</th>
                <th>date</th>
                <th>author</th>
                <th class="center-content">Visible?</th>
                <th class="center-content"></th>
            </tr>
            </thead>
            <tbody>
            {% for cc in news_item.get_all_comments %}
            <tr>
                <td> {{ cc.content_md|safe }}</td>
                <td> {{ cc.date }}</td>
                <td> {{ cc.author }}</td>
                {% if perms.delivery.delete_newscomment %}
                <td>
                    <form method="post" action="{% url 'a_modif_comment' cc.pk %}">
                        {% csrf_token %}
                        <input type="hidden" value="toggle_active" name="action"/>
                        <button type="submit">
                            {% if cc.active %}<span class="material-symbols-outlined perm">visibility</span>
                            {% else %}<span class="material-symbols-outlined noperm">visibility_off</span>{% endif %}
                        </button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'a_modif_comment' cc.pk %}">
                        {% csrf_token %}
                        <input type="hidden" value="delete" name="action"/>
                        <button type="submit" class="button-icon danger"><span
                                class="material-symbols-outlined">delete</span></button>
                    </form>
                </td>
                {% else %}
                <td>
                    {% if cc.active %}<span class="material-symbols-outlined perm">visibility</span>
                    {% else %}<span class="material-symbols-outlined noperm">visibility_off</span>{% endif %}
                </td>
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
