{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/folding_box.css' %}"/>
{% endblock %}

{% block content %}
<div class="PackageList">
    <div class="Package folding_box" id="add_news">
        <div class="PackageHeader folding_box_header" onclick="toggleContent('add_news')">
            <div class="PackageName">Add a news</div>
        </div>
        <div class="PackageFlavors centering-row-left folding_box_content">
            {% if new_news %}
            <p class="alert-success">The news has been added.</p>
            {% else %}
            <form class="PackageForm" method="post">
                {% csrf_token %}
                {{ news_form.as_p }}
                {% if perms.delivery.add_newsentry %}
                <button type="submit" class="button">
                    <span class="material-symbols-outlined mdi-icon">send</span>
                    Submit
                </button>
                {% endif %}
            </form>
            {{ news_form.media }}
            {% endif %}
        </div>
    </div>
</div>
<div class="PackageList">
    <div class="Package">
        <div class="PackageHeader">
            <div class="PackageName">News list</div>
        </div>
        <div class="PackageFlavors centering-row-left">
            <table class="user-tab">
                <thead>
                <tr>
                    <th>title</th>
                    <th>date</th>
                    <th>author</th>
                    <th class="center-content"></th>
                </tr>
                </thead>
                <tbody>
                {% for news_item in news_list %}
                <tr class="clickable" onclick="location.href='{% url 'a_news_detail' news_item.id %}'">
                    <td> {{ news_item.title }}</td>
                    <td> {{ news_item.date }}</td>
                    <td> {{ news_item.author }}</td>
                    <td>
                        {% if perms.delivery.delete_newsentry %}
                        <form method="post" action="{% url 'a_modif_news' news_item.pk %}">
                            {% csrf_token %}
                            <input type="hidden" value="delete" name="action"/>
                            <button type="submit" class="button-icon danger"><span
                                    class="material-symbols-outlined mdi-icon">delete</span></button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script_content %}
<script src="{% static 'js/folding_box.js' %}"></script>
{% endblock %}
