{% extends 'base.html' %}

{% block content %}
<div class="Article">
    <div class="ArticleHeader">
        <h2>Add a news</h2>
    </div>
    <div class="ArticleContent">
        {% if new_news %}
        <p>The news has been added.</p>
        {% else %}
        <form method="post">
            {% csrf_token %}
            {{ news_form }}
            {% if perms.delivery.add_newsentry %}
            <button type="submit" class="button">
                <span class="material-symbols-outlined">send</span>
                Submit
            </button>
            {% endif %}
        </form>
        {{ news_form.media }}
        {% endif %}
    </div>
    <div class="ArticleFooter">
        <p>Warning: It is not yet possible to upload images.</p>
    </div>
</div>
<div class="Article">
    <div class="ArticleHeader">
        <h2>Current news</h2>
    </div>
    <div class="ArticleContent">
        <table class="user-tab">
            <thead>
            <tr>
                <th>title</th>
                <th>date</th>
                <th>author</th>
                <th class="center-content"></th>
            </tr>
            </thead>
            <tbody>
            {% for news_item in news_list %}
            <tr>
                <td>
                    <a href="{% url 'a_news_detail' news_item.id %}">{{ news_item.title }}</a>
                </td>
                <td> {{ news_item.date }}</td>
                <td> {{ news_item.author }}</td>
                <td>
                    {% if perms.delivery.delete_newsentry %}
                    <form method="post" action="{% url 'a_modif_news' news_item.pk %}">
                        {% csrf_token %}
                        <input type="hidden" value="delete" name="action"/>
                        <button type="submit" class="button-icon danger"><span
                                class="material-symbols-outlined">delete</span></button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
