{% extends 'base.html' %}

{% block content %}
<div class="ArticleContent">
    <table class="user-tab">
        <thead>
        <tr>
            <th>name</th>
            <th>last connexion</th>
            <th class="center-content">can add news</th>
            <th class="center-content">can edit news</th>
            <th class="center-content">can moderate comment</th>
            <th class="center-content">can view user</th>
            <th class="center-content">can delete users</th>
            <th class="center-content"></th>
        </tr>
        </thead>
        <tbody>
        {% for user_for in users %}
        <tr>
            <td>{{ user_for.name }}</td>
            <td>{{ user_for.last_conn }}</td>
            {% if user_for.admin or not perms.auth.delete_user %}
            <td class="center-content">
                {% if user_for.can_add_news %}<span class="material-symbols-outlined perm">subtitles</span>
                {% else %}<span class="material-symbols-outlined noperm">subtitles_off</span>{% endif %}
            </td>
            <td class="center-content">
                {% if user_for.can_delete_news %}<span class="material-symbols-outlined perm">edit</span>
                {% else %}<span class="material-symbols-outlined noperm">edit_off</span>{% endif %}
            </td>
            <td class="center-content">
                {% if user_for.can_delete_comment %}<span class="material-symbols-outlined perm">comment</span>
                {% else %}<span class="material-symbols-outlined noperm">comments_disabled</span>{% endif %}
            </td>
            <td class="center-content">
                {% if user_for.can_view_user %}<span class="material-symbols-outlined perm">visibility</span>
                {% else %}<span class="material-symbols-outlined noperm">visibility_off</span>{% endif %}
            </td>
            <td class="center-content">{% if user_for.can_delete_user %}<span
                    class="material-symbols-outlined perm">edit</span>
                {% else %}<span class="material-symbols-outlined noperm">edit_off</span>{% endif %}
            </td>
            {% else %}
            <td class="center-content">
                <form method="post" action="{% url 'modif_user' user_for.pk %}">
                    {% csrf_token %}
                    <input type="hidden" value="toggle_news_add" name="action"/>
                    <button type="submit">
                        {% if user_for.can_add_news %}<span class="material-symbols-outlined perm">subtitles</span>
                        {% else %}<span class="material-symbols-outlined noperm">subtitles_off</span>{% endif %}
                    </button>
                </form>
            </td>

            <td class="center-content">
                <form method="post" action="{% url 'modif_user' user_for.pk %}">
                    {% csrf_token %}
                    <input type="hidden" value="toggle_news_delete" name="action"/>
                    <button type="submit">
                        {% if user_for.can_delete_news %}<span class="material-symbols-outlined perm">edit</span>
                        {% else %}<span class="material-symbols-outlined noperm">edit_off</span>{% endif %}
                    </button>
                </form>
            </td>

            <td class="center-content">
                <form method="post" action="{% url 'modif_user' user_for.pk %}">
                    {% csrf_token %}
                    <input type="hidden" value="toggle_comment_delete" name="action"/>
                    <button type="submit">
                        {% if user_for.can_delete_comment %}<span
                            class="material-symbols-outlined perm">comment</span>
                        {% else %}<span class="material-symbols-outlined noperm">comments_disabled</span>{% endif %}
                    </button>
                </form>
            </td>

            <td class="center-content">
                <form method="post" action="{% url 'modif_user' user_for.pk %}">
                    {% csrf_token %}
                    <input type="hidden" value="toggle_user_view" name="action"/>
                    <button type="submit">
                        {% if user_for.can_view_user %}<span class="material-symbols-outlined perm">visibility</span>
                        {% else %}<span class="material-symbols-outlined noperm">visibility_off</span>{% endif %}
                    </button>
                </form>
            </td>

            <td class="center-content">
                <form method="post" action="{% url 'modif_user' user_for.pk %}">
                    {% csrf_token %}
                    <input type="hidden" value="toggle_user_delete" name="action"/>
                    <button type="submit">
                        {% if user_for.can_delete_user %}<span class="material-symbols-outlined perm">edit</span>
                        {% else %}<span class="material-symbols-outlined noperm">edit_off</span>{% endif %}
                    </button>
                </form>
            </td>

            <td>
                <form method="post" action="{% url 'modif_user' user_for.pk %}">
                    {% csrf_token %}
                    <input type="hidden" value="delete" name="action"/>
                    <button type="submit" class="button-icon danger"><span
                            class="material-symbols-outlined">delete</span></button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
