/* Pag de passwords */
.Article {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 1.5em;
    background-color: var(--theme-page-title-bg-color);
    color: var(--theme-page-title-color);
    max-width: 100%;
    min-width: 100px;
    margin: 1%;
    padding: 0.5em;
}
.Article a {
    color: var(--theme-article-color);
}
.Article a:hover {
    color: var(--theme-article-color-hv);
}
.ArticleHeader{
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0.5em 0.1em;
}
.ArticleContent{
    display: flex;
    flex-direction: column;
    width: 770px;
}
@media all and (max-width: 1000px) {
    .ArticleContent{
        width: 100%;
    }
}
.ArticleContent h1,.ArticleContent h2,.ArticleContent h3,.ArticleContent h4,.ArticleContent h5,.ArticleContent h6{
    color: var(--theme-article-color);
}
.ArticleContent::before, .ArticleContent::after{
    position: relative;
    height: 3px;
    left: 3%;
    width: 94%;
    background-color: var(--theme-article-color-sep);
    content:"";
}
.ArticleFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ArticleAuthor {
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.ArticleComments {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.ArticleDate {
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

/* Page de packages */

.user_form {
    align-items: center;
}
.user_form::before, .user_form::after {
    align-items: center;
    left: 0;
}

.PackageList{
    display: flex;
    flex-direction: column;
    width: 770px;
    font-size: 0.6em;
}
@media all and (max-width: 1000px) {
    .PackageList{
        width: 100%;
    }
}

.Package{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top:1em;
    margin-bottom: 1em;
    color: var(--theme-btn-color);
    border: 1px solid var(--theme-article-color-sep);
    border-radius:0.5em;
    box-shadow: 0 0 2.7em rgba(0, 0, 0, 0.5);
}
.PackageHeader {
    padding: 0.5em;
    font-size: 2.5em;
    display: flex;
    flex-flow: row nowrap;
    transition: background-color 0.3s;
    background-color: var(--theme-package-color-bg-fold);
}
.PackageHeader:hover, .PackageHeader.open:hover{
    background-color: var(--theme-package-color-bg-hv);
}
.PackageHeader.open {
    background-color: var(--theme-package-color-bg-active);
}

.PackageDetail{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top:1em;
    padding: 0.5em;
    border: 1px solid var(--theme-article-color-sep);
    border-radius:0.5em;
    font-size: 1.6em;
}
.PackageDetail2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.7em;
}
.PackageFlavors {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 3em;
    font-size:1.5em;
}

.PackageName, .PackageVersion {
    font-size: 1.2em;
    margin: 0 0.5em;
    color: var(--theme-btn-color);
}
.PackageVersion {
    font-size: 1.8em;
}

.Actions{
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    width: 100%;
}
.ActionsItems{
    margin: 0.5em 0.8em;
}

.MaintenanceLine{
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: center
    width: 100%;
}
.MaintenanceItems{
    margin: 0.5em 0.8em;
}
.loader {
    border: 0.2em solid var(--theme-article-color-sep);
    border-top: 0.2em solid var(--theme-title-color);
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation: spin 1s linear infinite;
    margin-right: 1em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.title_tab {
    width:100%;
}
.title_tab td {
    width:16%;
}
.title_tab input {
    width:100%;
}
.noperm {
    color: #8c1111;
}
.perm {
    color: #0ebb31;
}
.center-content {
    text-align:center;
}
.user-tab {
    content-align: center;
}

.Comments {
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: var(--theme-comment_bg);
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.8em;
}
.comment::before {
    position: relative;
    content:"";
    height: 2px;
    left:5%;
    width:90%;
    background-color:var(--theme-comment_before_bg);
    display: inline-block;
}
.c_head {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.c_body {

}
.c_author {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.c_date {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.comment-subbing{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.comment-subbing form{
    min-width: 50%;
    max-width: 100%;
    padding: 1em;
}
.markdownx{
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%
}
.markdownx textarea{
    width: 50%
}

.markdownx-preview{
    width:50%;
    margin: 1em;
    padding-left:1em;
    background-color: var(--theme-markdown_bg);
    border-radius: 0.5em;
}
