@charset "UTF-8";
/* global default */
*,*::before,*::after {
    box-sizing: border-box;
}
:root {
    --theme-color: #BE8509;
    --theme-bg-color: #24292f;
    --theme-title-color: #BE8509;
    --theme-top-btm-bar-bg-color: #010306;
    --theme-top-btm-bar-color: #797474;
    --theme-page-title-bg-color: #464646;
    --theme-page-title-color: #9092a2;
    --theme-page-title-color-hv: #f8f8f8;
    --theme-article-bg-color: #464646;
    --theme-article-color: #cccccc;
    --theme-article-color-hv: #F2AC0D;
    --theme-article-color-sep: #a0a0a0;
    --theme-package-color-bg-fold: #464646;
    --theme-package-color-bg-active: #353535;
    --theme-package-color-bg-hv: #F2AC0D;
    --theme-btn-color: #cccccc;
    --theme-btn-color-hv: #F2AC0D;
    --theme-btn-bg-color: #191c20;
    --theme-btn-bg-color-hv: #1D1601;
    --theme-btn-color-danger: #cccccc;
    --theme-btn-color-hv-danger: #000;
    --theme-btn-bg-color-danger: #840000;
    --theme-btn-bg-color-hv-danger: #d94545;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html, body {
    height: 100%;
    font-family: sans-serif;
    font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6 {
    color: var(--theme-title-color);
    margin: 0;
    font-weight:500;
    font-family: sans-serif;
    text-transform: uppercase;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    color: var(--theme-color);
    text-align: left;
    background-color: var(--theme-bg-color);
    line-height: 1.5;
}
h1 {font-size: 1.5em;}
h2 {font-size: 1.2em;}
h3 {font-size: 1.1em;}
h4 {font-size: 1.0em;}
h5 {font-size: 0.8em;}
h6 {font-size: 0.7em;}

@media all and (max-width: 1000px) {
body {font-size:0.9em;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.2em;}
h3 {font-size: 1.1em;}
h4 {font-size: 1.0em;}
h5 {font-size: 0.8em;}
h6 {font-size: 0.7em;}
}
input:focus,select:focus,button:focus,textarea:focus {
    outline: none;
}
a:hover,a:focus {
    text-decoration: none;
    outline: none;
}
a {
    text-decoration: none;
    outline: none;
    background-color: transparent;
}
ul,ol {
    padding: 0;
    padding-left: 1.5em;
    margin: 0;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: flex;
}

/* -- Container -- */
.container {
    width:100%;
    padding-right: 0.1em;
    padding-left: 0.1em;
    margin-right: auto;
    margin-left: auto;
}
.button {
    color: var(--theme-btn-color);
    background-color: var(--theme-btn-bg-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 1em;
    padding: 0.5em 1.5em;
    border: 0;
    margin: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.button-small {
    width: max-content;
}
.button-icon {
    color: var(--theme-btn-color);
    background-color: var(--theme-btn-bg-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 0.5em;
    padding: 0.2em 0.2em;
    border: 0;
    margin: 0.1em;
    text-align: center;
}
.button:hover, .button-icon:hover {
    background-color: var(--theme-btn-bg-color-hv);
    color: var(--theme-btn-color-hv);
    transition:color .2s;
    transition:background-color .2s;
}
.last-button {
    margin-left:auto;
}
.danger {
    color: var(--theme-btn-color-danger);
    background-color: var(--theme-btn-bg-color-danger);
}
.danger:hover {
    color: var(--theme-btn-color-hv-danger);
    background-color: var(--theme-btn-bg-color-hv-danger);
}
.centering-row{
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}
.centering-col{
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}
.centering-row-left{
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

/* Global content */
.header,.content,.footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: start;
    width:100%;
}

/* top & bottom bar */
.header,.footer {
    background-color: var(--theme-top-btm-bar-bg-color) !important;
    color:var(--theme-top-btm-bar-color);
}

/* ============= HEADER SECTION ============= */
.header{
    flex-flow: column wrap;
}
.header:after {
    display: flex;
    clear: both;
    content: "";
}
/* -------------- TOP HEADER -------------- */
.navbar{
    display: flex;
    flex-flow: row nowrap;
    align-items: end;
    justify-content: space-between;
    padding: 0 1.7em;
}
/* ...... Title ..... */
.site-title {
    display: flex;
    align-items: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-right: 1em;
    font-size: 1em;
    white-space: nowrap;
    height: 50px;
}
.site-title img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.site-title h1{
    display:inline-block;
    padding: 0.5em 0.5em;
    color: var(--theme-top-btm-bar-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}
@media all and (max-width: 1000px) {
    .site-title {
        height: 20px;
        font-size: 0.5em;
    }
    .header .button {
        font-size: 0.5em;
    }
}
/* ...... User ..... */
.site-user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
/* ...... Nav ..... */
.site-nav {
    display: flex !important;
    flex-basis: auto;
    align-items: center;
}
.navmenu{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    margin-left:auto !important;
}
.navmenu>li:not(:last-child) {
    margin-right:1em
}
.navmenu ul, .navmenu ol{
    padding-left: 0;
}
.navmenu li {
    list-style: none;
    padding:0.5em;
    padding-bottom: 0.7em;
}
.navmenu .navitem {
    position:relative;
    display:flex;
    text-align:center
}
.navmenu li a{
    display: flex;
    font-size: 1.1m;
    color: var(--theme-btn-color);
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
}
.navmenu .navitem>a::before {
    transform:scale3d(1,1,1);
}
.navmenu .navitem a:focus,
.navmenu .navitem a:hover {
    color: var(--theme-btn-color-hv);
}
.navmenu .navitem a:focus::before,
.navmenu .navitem a:hover::before {
    background:var(--theme-btn-color-hv);
}
.navmenu .navitem>a::before {
    content:'';
    position:absolute;
    top:0px;
    width:100%;
    margin-left:-0.5em;
    height:2px;
    background:var(--theme-btn-color-hv);
    transform:scale3d(0,1,1);
    transition:transform .2s
}
.navmenu .navitem>a:hover::before {
    transform:scale3d(1,1,1)
}

.navmenu .current>a::before {
    height:0px;
}
.navmenu .current{
    background:var(--theme-page-title-bg-color);
    border-top:var(--theme-btn-color-hv); 2px solid;
}
.navmenu .current>a {
    color:var(--theme-btn-color-hv);
}

@media all and (max-width: 1000px) {
.navmenu li a{
    font-size: 0.7em;
}
}
/* -------------- LOWER HEADER -------------- */
.page-title {
    background-color:var(--theme-page-title-bg-color);
    padding-top:0.4em;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    width: 100%;
}
.page-title .navmenu .current{
    background:var(--theme-bg-color);
}

/* ============= MAIN SECTION ============= */
.content {
    flex-grow: 1;
    padding: 1.7em;
    align-content: center;
    flex-direction: column;
}


/* ============= FOOTER SECTION ============= */
.footer {
    height: 50px;
    align-content: center;
    align-items: center;
}
@media all and (max-width: 1000px) {
.footer {
    height: 150px;
    font-size: 0.6em;
}
}
.footer a, .footer p{
    color:var(--theme-top-btm-bar-color);
    display:flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    max-height: 100%;
    margin: 0.1em;
}
.footer a:focus,
.footer a:hover {
    color: var(--theme-btn-color-hv);
}
.footer p a img {
    max-height: 1.4em;
}