{% extends 'registration/base_registration.html' %}

{% block mainsection %}
<div class="auth-card card">
    <div class="card__header">
        <h2>Login</h2>
    </div>
    <div class="card__body">
        <p>Please login to get full access.</p>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            {% include "includes/form_field.html" %}
            {% endfor %}
            <div class="form-actions">
                <button type="submit" class="btn btn--primary">
                    <span class="material-symbols-outlined icon">login</span>
                    Login
                </button>
            </div>
        </form>
        {% if has_email %}
        <div class="flex-row gap-4 mt-4">
            <span>Lost credentials?</span>
            <a class="btn btn--sm" href="{% url 'password_reset' %}">
                <span class="material-symbols-outlined icon">lock_reset</span>
                Reset
            </a>
        </div>
        {% endif %}
        <div class="flex-row gap-4 mt-4">
            <span>Request credentials?</span>
            <a class="btn btn--sm" href="{% url 'register' %}">
                <span class="material-symbols-outlined icon">person_add</span>
                Register
            </a>
        </div>
    </div>
    <div class="card__footer">
        <div class="card__footer-start">
            <a class="btn btn--ghost btn--sm" href="{% url 'index' %}">
                <span class="material-symbols-outlined icon">arrow_circle_left</span>
                Back
            </a>
        </div>
        <div class="card__footer-center"></div>
        <div class="card__footer-end"></div>
    </div>
</div>
{% endblock %}
