{% extends 'registration/base_registration.html' %}

{%block mainsection %}
<div class="Article user_form">
    <div class="ArticleHeader">
        <h4>Password change</h4>
    </div>
    <div class="ArticleContent">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="submit" class="button"><span class="material-symbols-outlined">password</span>Submit</button>
        </form>
    </div>
    <div class="ArticleFooter">
        <a class="button" href="{% url 'profile' %}">
            <span class="material-symbols-outlined">arrow_circle_left</span>
            Back
        </a>
    </div>
</div>
{% endblock %}