{% extends 'registration/base_registration.html' %}

{% block mainsection %}
<div class="auth-card card">
    <div class="card__header">
        <h2>
            <span class="material-symbols-outlined icon">account_circle</span>
            {{ user }}
        </h2>
    </div>
    <div class="card__body">
        <div class="alert alert--success">Password successfully changed.</div>
    </div>
    <div class="card__footer">
        <div class="card__footer-start">
            <a class="btn btn--ghost btn--sm" href="{% url 'index' %}">
                <span class="material-symbols-outlined icon">arrow_circle_left</span>
                Back
            </a>
        </div>
        <div class="card__footer-center"></div>
        <div class="card__footer-end"></div>
    </div>
</div>
{% endblock %}
