{% extends 'registration/base_registration.html' %}

{%block mainsection %}
<div class="Article user_form">
    <div class="ArticleHeader">
        <h4>Password reinitialization</h4>
    </div>
    <div class="ArticleContent">
        <h5>Reinitialization message sent</h5>
        <p>We just sent a email with the instruction to reset your password. If an account with that email exists, you
            should received very soon this message.</p>
        <p>If you have not received message, please check you input the right login email (used for registration) and
            check you span folder.</p>
    </div>
    <div class="ArticleFooter">
        <a class="button" href="{% url 'index' %}">
            <span class="material-symbols-outlined mdi-icon">arrow_circle_left</span>
            Back
        </a>
    </div>
</div>
{% endblock %}