{% extends 'registration/base_registration.html' %}

{%block mainsection %}
<div class="Article user_form">
    <div class="ArticleHeader">
        <h4>Password reinitialization</h4>
    </div>
    <div class="ArticleContent">
        <h5>Update password done</h5>
        <p>New password set. You can now authenticate.</p>
    </div>
    <div class="ArticleFooter">
        <a class="button" href="{% url 'login' %}"><span
                class="material-symbols-outlined mdi-icon">login</span>Login</a>
    </div>
</div>
{% endblock %}