{% extends 'registration/base_registration.html' %}


{%block mainsection %}
<div class="Article user_form">
    <div class="ArticleHeader">
        <h4><span class="material-symbols-outlined">account_circle</span>{{ user }}</h4>
    </div>
    <div class="ArticleContent user_form">
        <p>Password successfully changed.</p>
    </div>
    <div class="ArticleFooter">
        <a class="button" href="{% url 'index' %}">
            <span class="material-symbols-outlined">arrow_circle_left</span>
            Back
        </a>
    </div>
</div>
{% endblock %}