<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Password reset.</title>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ protocol }}://{{ domain }}/static/css/default.css">
    <style>.Article a{color:#fcd649}</style>
</head>
<body>
<section class="top-section"></section>
<section class="main-section">
    <div class="Article user_form">
        <div class="ArticleHeader"><h4>Ask for password reset.</h4></div>
        <div class="ArticleContent user_form">
            <p>You receive this email because you asked for password reinitialization.</p>
            <p>If you are not asking for password reset, just ignore this message.</p>
            <p>Please follow this
                <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">[link]</a>
                to go to the password reset page.</p>
            <p>In case of memory loss, here is your login: {{ user.get_username }}</p>
        </div>
        <p>Thanks for using our website!</p>
        <div class="ArticleFooter">
            <p>The <a href="{{ protocol }}://{{ domain }}">{{ protocol }}://{{ domain }}</a> team.</p>
        </div>
    </div>
</section>
</body>
</html>