{% extends 'registration/base_registration.html' %}

{% block mainsection %}
<div class="auth-card card">
    <div class="card__header">
        <h2>Password reinitialization</h2>
    </div>
    <div class="card__body">
        <div class="alert alert--success">New password set. You can now authenticate.</div>
    </div>
    <div class="card__footer">
        <div class="card__footer-start">
            <a class="btn btn--primary" href="{% url 'login' %}">
                <span class="material-symbols-outlined icon">login</span>
                Login
            </a>
        </div>
        <div class="card__footer-center"></div>
        <div class="card__footer-end"></div>
    </div>
</div>
{% endblock %}
