{% extends 'registration/base_registration.html' %}

{% block mainsection %}
<div class="auth-card card">
    <div class="card__header">
        <h2>Password reinitialization</h2>
    </div>
    <div class="card__body">
        <h4 class="mb-2">Reinitialization message sent</h4>
        <p>We just sent an email with the instructions to reset your password. If an account with that email exists, you
            should receive it very soon.</p>
        <p>If you have not received the message, please check that you entered the right email (used for registration) and
            check your spam folder.</p>
    </div>
    <div class="card__footer">
        <div class="card__footer-start">
            <a class="btn btn--ghost btn--sm" href="{% url 'index' %}">
                <span class="material-symbols-outlined icon">arrow_circle_left</span>
                Back
            </a>
        </div>
        <div class="card__footer-center"></div>
        <div class="card__footer-end"></div>
    </div>
</div>
{% endblock %}
