{% extends 'registration/base_registration.html' %}

{% block mainsection %}
<div class="auth-card card">
    <div class="card__header">
        <h2>New user</h2>
    </div>
    <div class="card__body">
        <p>Please fill this form to be registered.</p>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert--danger">{{ error|escape }}</div>
        {% endfor %}
        {% endif %}
        {% if profile_form.non_field_errors %}
        {% for error in profile_form.non_field_errors %}
        <div class="alert alert--danger">{{ error|escape }}</div>
        {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            {% include "includes/form_field.html" %}
            {% endfor %}
            {% if profile_form %}
            {% for field in profile_form %}
            {% include "includes/form_field.html" %}
            {% endfor %}
            {% endif %}
            <div class="form-actions">
                <button type="submit" class="btn btn--primary">
                    <span class="material-symbols-outlined icon">person_add</span>
                    Register
                </button>
            </div>
        </form>
    </div>
    <div class="card__footer">
        <div class="card__footer-start">
            <a class="btn btn--ghost btn--sm" href="{% url 'login' %}">
                <span class="material-symbols-outlined icon">arrow_circle_left</span>
                Back
            </a>
        </div>
        <div class="card__footer-center"></div>
        <div class="card__footer-end"></div>
    </div>
</div>
{% endblock %}
